
@using BookingSystem.Web.Models.Common.Modals
@using BookingSystem.Web.Models.Jets
@model JetViewModel

@await Html.PartialAsync("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="JetInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("JetType") :</h6>
                @Model.Jet.JetType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TotalCapacity") :</h6>
                @Model.Jet.TotalCapacity
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.Jet.IsActive
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Views/Common/Modals/_ModalFooterWithClose.cshtml")

